/* Common CSS styles. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: initial;
}

html, body {
  height: 100%;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
main {
  min-height: 100%;
  position: relative
}
h1 {
  font-size: 4rem;
}
input[type='number'] {
  width: 3rem;
  font-size: 1rem;
}
input[type='text'] {
  display: block;
  font-size: 0.9rem;
  width: 10rem;
}
textarea {
  display: block;
  font-size: 0.8rem;
  width: 20rem;
  height: 11.5rem;
  resize: none;
  cursor: text;

  padding: 0.25rem;

  font-family: Arial, Helvetica, sans-serif;
}

#root {
  background-color: rgb(172, 118, 61);
  color: rgb(244, 244, 244);

  height: 100%;
  min-width: 25rem;

  position: relative;
}

.space-between * {
  margin: 0.6rem;
}
.column {
  margin: auto;
  width: 20rem;
}
.float-right {
  position: relative;
  float: right;
  overflow: visible;
}
