/* CSS styles for the home "page". */
/* TODO: Make all these classes follow BEM methodology */
#home-header-container {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-shadow: 3px 3px rgb(160, 157, 157);

  margin-top: 0;
}
#home-content-container {
  padding: 1.25rem;
}
#home-footer-container {
  position: absolute;
  bottom: 0;
  left: 0;

  font-family: 'Segoe UI', Helvetica, sans-serif;
  text-align: center;

  margin: 0;
  padding: 0.8rem;
  width: 100%;
}

.root--home {
  height: 0;
  width: 55rem;
  min-height: 100%;

  margin: auto;
  padding-top: 6%;
}
