/* Gigantic file of UI-related styles. */

/********** Generic UI content styling **********/
/* 
 * If a class has `-no-hover` in the class name, that means no additional
 * styles will be applied on hover.
 */
.ui-content {
  border: 1px solid rgb(221, 221, 221);
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}
.ui-content--radius {
  border-radius: 3px;
}
.ui-content--light--no-hover, .ui-content--light {
  background-color: rgb(246, 246, 246) !important;
}
.ui-content--light:hover {
  background-color: rgb(200, 200, 200) !important;
}

/********** React tooltip styling **********/
.ui-tooltip {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

/********** Random classes that may be useful **********/
.ui-cursor-draggable {
  cursor: move !important;
}
.ui-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-button {
  color: rgb(5, 5, 5);
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

  background-color: rgb(215, 213, 211);
  border-radius: 5px;
  border: none;

  display: inline-block;
}
.ui-button:hover {
  background-color: rgb(182, 175, 167);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.ui-button--small {
  height: 1rem;
  width: 5rem;
  font-size: 1rem;
  padding: 0.35rem;
  box-sizing: content-box;
  border: 1px solid rgb(197, 197, 197);
  background-color: rgb(246, 246, 246);
}
.ui-button--small:hover {
  background-color: rgb(210, 210, 210);
}
.ui-button--large {
  font-size: 1.3rem;
  padding: 0.85rem;
  width: 11.25rem;
  height: 3.25rem;
}
/* ReactJS custom modal classes. */
/* TODO: Convert all the following classes to follow BEM methodology. */
.custom-modal-container {
  position: absolute;
  padding: 0.2em;
  overflow: hidden;
  resize: both;

  min-width: 10rem;
  min-height: 10rem;
  max-width: 100vw;
  max-height: 100vh;

  box-sizing: content-box;

  z-index: 101;
  pointer-events: all;
}
.custom-modal-container:focus {
  outline: blue solid 3px;
}
.custom-modal-header {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  box-sizing: content-box;

  padding: 0.4em 1em;
  background: rgb(233, 233, 233);
  height: 1.5rem;
  position: relative;
}
.custom-modal-header-span {
  float: left;
  margin: 0.05em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-modal-close-span {
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.05rem;
  display: inline-block;

  text-align: center;
}
.custom-modal-close-button {
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  top: 25%;
  right: 1em;
  padding: 0.05rem;

  border: 1px solid rgb(197, 197, 197);
  background-color: rgb(244, 244, 244);
  font-weight: bold;
  font-size: 0.6rem;
}
.custom-modal-close-button:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
.custom-modal-content {
  display: block;
  padding: 0.5em 1em;
  overflow: auto;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  text-align: left;

  position: absolute;
  top: 2.85rem;
  bottom: 4.1rem;
  right: 0.2rem;
  left: 0.2rem;
}
.custom-modal-footer {
  position: absolute;
  bottom: 0;
  right: 0.2rem;
  left: 0.2rem;
  height: 3.25rem;

  overflow: auto;
  box-sizing: content-box;
  text-align: left;
  border-width: 1px 0 0 0;
  padding: 0.4em 1em 0.4em 0.4em;
}
.custom-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(130, 127, 127, 0.09);

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* Hides a modal, more specifically, the `react-modal` modal. */
.hide-modal {
  bottom: unset;
  overflow: visible;
  padding: 0;
  border: none;
  border-radius: 0;
  position: static;
  background: none;
  pointer-events: none;
}
.hide-modal:focus {
  outline: none;
}

/********** ReactJS select menu classes **********/
.ui-selectmenu {
  -webkit-appearance: none;
  -moz-appearance: none;

  background: transparent;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: right 5% bottom 50%;

  padding: 0.5rem 1rem;
  padding-right: 1.25rem;

  font-size: 1em;
}
.ui-selectmenu:hover {
  cursor: pointer;
}

/********** ReactJS radio button list component **********/
.ui-radio-list {
  display: block;
}
.ui-radio-list__item {
  cursor: pointer;
  font-size: 1em;

  padding: 0.5rem;
  padding-left: 2rem;
  margin-bottom: 0.05rem;
  height: 2rem;
  width: 12.5rem;
  position: relative;
}
.ui-radio-list__item input:checked ~ .ui-radio-list__checkmark {
  background-color: rgb(33, 150, 243);
}
.ui-radio-list__item input:checked ~ .ui-radio-list__checkmark::after {
  display: block;
}
.ui-radio-list__item .ui-radio-list__checkmark::after {
  top: 0.45rem;
  left: 0.45rem;
  width: 0.4rem;
  height: 0.4rem;

  border-radius: 50%;
  background: white;
}
.ui-radio-list__checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.4rem;
  height: 1.25rem;
  width: 1.25rem;

  background-color: rgb(252, 252, 252);
  border-radius: 50%;
}
.ui-radio-list__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.ui-radio-list__item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/********** ReactJS item editor **********/
.ui-item-editor {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.ui-item-editor__items-list {
  flex-grow: 0;
  padding: 0.75rem;
  border-right: 1px solid black;

  height: 100%;
}
.ui-item-editor__item-display {
  flex-grow: 1;
  padding: 0.75rem;
  position: relative;

  font-size: 0.85rem;
}
.ui-item-editor__item-display * {
  font-size: 0.85rem !important;
}
.ui-item-editor__item-display--no-team-selected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.ui-item-editor__item-display__table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}
.ui-item-editor__item-display__item {
  padding: 0.3rem;
  display: inline-block;
  width: 65%;
}
.ui-item-editor__item-display__item-name {
  padding: 0.3rem;
  display: inline-block;
  width: 35%;
}
.ui-item-editor__item-display__row:nth-child(odd) {
  background-color: rgb(243, 243, 243);
}
